/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/public/main.js
resources/public/img/*
resources/public/css/*
.lsp/
.clj-kondo/
