/* some style */

body {
    font-family: Helvetica, sans-serif;
}

main #player-hand, main #trick-cards {
    list-style: none;
    padding-left: 0;
}

main #player-hand li {
    display: inline;
}

#trick-cards li div {
    text-align: center;
}
