/* some style */

body {
  font-family: Helvetica, sans-serif;
}

main #player-hand, main #trick-cards {
  list-style: none;
  padding-left: 0;
}

main #player-hand li {
  display: inline;
}

#trick-cards li div {
  text-align: center;
}

#startup-form {
  margin-bottom: 1em;
}

#scoring-rules-box {
  position: absolute;
  top: 0px;
  right: 100px;
}

#scoring-rules-box ul {
 list-style: none;
}

#scoring-rules-box li {
 font-size: small;
}

#scoring-rules-box h5 {
 text-align: center;
}
